<div id="registrationModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;</button>
        <h4 class="modal-title">Registration Form</h4>
      </div>
      <div class="modal-body">
      	<form class="form-horizontal" name="registrationForm" ng-submit="registrationForm.$valid && submitRegister(registrationData)" novalidate>

          <div class="bfh-selectbox" data-name="selectbox1">
    			  <div data-value="1">Option 1</div>
    			  <div data-value="2">Option 2</div>
    			  <div data-value="3">Option 3</div>
    			  <div data-value="4">Option 4</div>
    			  <div data-value="5">Option 5</div>
    			  <div data-value="6">Option 6</div>
    			  <div data-value="7">Option 7</div>
    			  <div data-value="8">Option 8</div>
    			  <div data-value="9">Option 9</div>
    			  <div data-value="10">Option 10</div>
    			  <div data-value="11">Option 11</div>
    			  <div data-value="12">Option 12</div>
    			  <div data-value="13">Option 13</div>
    			  <div data-value="14">Option 14</div>
    			  <div data-value="15">Option 15</div>
    			</div>

      		<div class="form-group">
				<label for="username" class="cols-sm-2 control-label">Username</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" ng-model="registrationData.userName" required ng-maxlength="3"/>
					</div>

          <div role="alert">
             <span class="error" ng-show="registrationForm.username.$error.required">
               Require!</span>
             <span class="error" ng-show="registrationForm.username.$error.maxlength">
               Too long!!!</span>
           </div>
				</div>
			</div>

			<div class="form-group">
				<label for="firtName" class="cols-sm-2 control-label">First Name</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="firtName" id="firtName"  placeholder="Enter your first name" ng-model="registrationData.firtName" required ng-maxlength="40"/>
					</div>

          <div role="alert">
             <span class="error" ng-show="registrationForm.firtName.$error.required">
               Require!</span>
             <span class="error" ng-show="registrationForm.firtName.$error.maxlength">
               Too long!!!</span>
           </div>
				</div>
			</div>

			<div class="form-group">
				<label for="lastName" class="cols-sm-2 control-label">Last Name</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="lastName" id="lastName"  placeholder="Enter your last name" ng-model="registrationData.lastName" required/>
					</div>

          <div role="alert">
             <span class="error" ng-show="registrationForm.lastName.$error.required">
               Require!</span>
             <span class="error" ng-show="registrationForm.lastName.$error.maxlength">
               Too long!!!</span>
          </div>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="cols-sm-2 control-label">Your Email</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
						<input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email" ng-model="registrationData.email" required/>
					</div>

          <div role="alert">
             <span class="error" ng-show="registrationForm.email.$error.required">
               Require!</span>
             <span class="error" ng-show="registrationForm.email.$error.email">
               Invalid Email!!!</span>
          </div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="cols-sm-2 control-label">Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ng-model="registrationData.password" required/>
					</div>

          <div role="alert">
             <span class="error" ng-show="registrationForm.password.$error.required">
               Require!</span>
          </div>
				</div>
			</div>

			<div class="form-group">
				<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="confirmPass" id="confirmPass"  placeholder="Confirm your Password" ng-model="registrationData.confirmPassword" required/>
					</div>

          <div role="alert">
             <span class="error" ng-show="registrationForm.confirmPass.$error.required">
               Require!</span>
          </div>
				</div>
			</div>

			<div class="form-group">
				<label for="phone" class="cols-sm-2 control-label">Phone</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span>
						<input type="number" class="form-control" name="phone" id="phone"  placeholder="Enter your phone" ng-model="registrationData.phone" required/>
					</div>

          <div role="alert">
            <span class="error" ng-show="registrationForm.phone.$error.required">
               Require!</span>
            <span class="error" ng-show="registrationForm.phone.$error.number">
                 Not valid number!</span>
          </div>
				</div>
			</div>

			<div class="form-group">
				<label for="country" class="cols-sm-2 control-label">Country</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-book" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="country" id="country"  placeholder="Enter your last name" ng-model="registrationData.country" required/>
            <!-- <select class="input-medium bfh-countries" data-country="US"></select> -->
          </div>

          <div role="alert">
            <span class="error" ng-show="registrationForm.country.$error.required">
               Require!</span>
          </div>
				</div>
			</div>

			<div class="form-group ">
				<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
			</div>
		</form>
      </div>
    </div>
  </div>
</div>
