<div class='footer navbar-default'>
  <div class='container'>
    <div class='row'>
        <div class='col-sm-12'>
          <h4>Contact Me</h4>
          <ul class='list-unstyled'>
            <li><i class='glyphicon glyphicon-globe'></i> Codix Vietnam, floor 4, Etown 3, 364 Cong Hoa street, Tan Binh district, HCM city </li>
            <li><i class='glyphicon glyphicon-phone'></i> +84 93 790 66 88</li>
            <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:trinhtoantrung@gmail.com'>trinhtoantrung@gmail.com</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
