<!DOCTYPE html>
<html ng-app="BasicInstagram">
<head>
	<title>Basic Instagram</title>

	<!-- Load styles-->
	<link rel="stylesheet" type="text/css" href="../assets/styles/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/styles/bootstrap/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
</head>
<body>
	<!-- navigation bar -->
	<bi-navigation-bar></bi-navigation-bar>

	<div ng-view></div>
	
	<!-- test -->

	<!-- footer -->
	<bi-footer-bar></bi-footer-bar>

	<bi-registration-form></bi-registration-form>

</body>

<!-- vendors -->
<script src="../assets/javascripts/vendors/jquery/jquery-2.2.4.min.js"></script>
<script src="../assets/javascripts/vendors/angularjs/angular.js"></script>
<script src="../assets/javascripts/vendors/angularjs/angular-route.js"></script>
<script src="../assets/javascripts/vendors/angularjs/angular-resource.js"></script>

<script src="../assets/javascripts/vendors/bootstrap/bootstrap.js"></script>

<!-- app -->
<script src="../assets/javascripts/app.js"></script>
<script src="../assets/javascripts/routes.js"></script>

<!-- directives -->
<script src="../assets/javascripts/directives/bi-navigation-bar.js"></script>
<script src="../assets/javascripts/directives/bi-footer-bar.js"></script>
<script src="../assets/javascripts/directives/bi-registration-form.js"></script>

<!-- services -->
<script src="../assets/javascripts/services/RegistrationData.js"></script>

<!-- filters -->

</html>
