<!DOCTYPE html>
<html ng-app="BasicInstagram">
<head>
	<title>Basic Instagram</title>

	<!-- Load styles-->
	<link rel="stylesheet" type="text/css" href="../assets/styles/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/styles/bootstrap/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="../assets/styles/bootstrap/bootstrap-formhelpers.css">
	<link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
</head>
<body>
	<!-- navigation bar -->
	<bi-navigation-bar></bi-navigation-bar>

	<div ng-view class="container-fluid"></div>

	<!-- test -->

	<!-- <form action = "http://localhost:8383/fileupload" method = "POST"
     enctype = "multipart/form-data">
     <input type="file" name="file" size="50" />
     <br />
     <input type = "submit" value = "Upload File" />
  </form> -->

	<!-- <form name="myForm" ng-controller="MyInstagramController">
    <fieldset>
      <legend>Upload on form submit</legend>
      Username:
      <input type="text" name="userName" ng-model="username" size="31" required>
      <i ng-show="myForm.userName.$error.required">*required</i>
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="recfile"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!myForm.$valid"
              ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form> -->


	<!-- footer -->
	<bi-footer-bar></bi-footer-bar>

	<bi-registration-form></bi-registration-form>

</body>

<!-- vendors -->
<script src="../assets/javascripts/vendors/jquery/jquery-2.2.4.min.js"></script>
<script src="../assets/javascripts/vendors/angularjs/angular.js"></script>
<script src="../assets/javascripts/vendors/angularjs/angular-route.js"></script>
<script src="../assets/javascripts/vendors/angularjs/angular-resource.js"></script>

<script src="../assets/javascripts/vendors/bootstrap/bootstrap.js"></script>
<script src="../assets/javascripts/vendors/bootstrap/bootstrap-formhelpers.js"></script>

<!-- https://github.com/danialfarid/ng-file-upload -->
<!-- <script src="../assets/javascripts/vendors/fileupload/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
<!-- <script src="../assets/javascripts/vendors/fileupload/ng-file-upload.js"></script> -->


<!-- app -->
<script src="../assets/javascripts/app.js"></script>
<script src="../assets/javascripts/routes.js"></script>

<!-- directives -->
<script src="../assets/javascripts/directives/bi-navigation-bar.js"></script>
<script src="../assets/javascripts/directives/bi-footer-bar.js"></script>
<script src="../assets/javascripts/directives/bi-check-pw-match.js"></script>
<script src="../assets/javascripts/directives/bi-check-user-existing.js"></script>
<script src="../assets/javascripts/directives/bi-check-email-existing.js"></script>
<script src="../assets/javascripts/directives/bi-upload-avatar.js"></script>
<script src="../assets/javascripts/directives/bi-file-mode.js"></script>

<!-- services -->
<script src="../assets/javascripts/services/User.js"></script>
<script src="../assets/javascripts/services/FileUpload.js"></script>
<script src="../assets/javascripts/services/UserLogin.js"></script>

<!-- controllers -->
<script src="../assets/javascripts/controllers/MyInstagramController.js"></script>
<script src="../assets/javascripts/controllers/MyRegisterController.js"></script>
<script src="../assets/javascripts/controllers/MyLoginController.js"></script>

<!-- filters -->
</html>
