<h1>Basic Instagram</h1>

<nav class="navbar navbar-default">
	<div class="navbar-form navbar-left">
		<a class="btn btn-primary" href="#/myinstagram/upload">Share new image</a>
        <div class="input-group">
	      	<div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Category: {{category}} <span class="caret"></span></button>
		        <ul class="dropdown-menu">
							<li><a ng-click="chooseCategory('All')">All</a></li>
							<li ng-repeat="category in categories"><a ng-click="chooseCategory(category)">{{category}}</a></li>
		        </ul>
	      	</div>
	      	<input type="text" class="form-control" placeholder="Search all" ng-model="search.title">
	    </div>
    </div>
</nav>

<div class="row">
	<div ng-repeat="image in images | filter: search | CategoryImageFilter: category" class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img ng-src="{{image.url}}">
			<div class="caption">
				<h3>{{image.title}}</h3>
				<h2><small>{{image.author}} | {{image.date | date:'short'}}</small></h2>
				<p>Likes: {{image.countLikes()}}</p>
				<p>Dislikes: {{image.countDislikes()}}</p>
				<span class="label label-info">{{image.category}}</span>
			</div>
		</div>
	</div>
</div>
