<h1>Basic Instagram</h1>

<!-- <div class="row">
	<a class="btn btn-primary" href="#/myinstagram/upload">Share new image</a>
</div> -->

<nav class="navbar navbar-default">
	<div class="navbar-form navbar-left">
		<a class="btn btn-primary" href="#/myinstagram/upload">Share new image</a>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="search.input.$">
        </div>
    </div>
</nav>

<div class="row">
	<div ng-repeat="image in images | filter:search.input" class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img ng-src="{{image.url}}">
			<div class="caption">
				<h3>{{image.title}}</h3>
				<h2><small>{{image.author}} | {{image.date | date:'short'}}</small></h2>
				<p>Likes: {{image.countLikes()}}</p>
				<p>Dislikes: {{image.countDislikes()}}</p>
				<span class="label label-info">{{image.category}}</span>
			</div>
		</div>
	</div>
</div>